.nav-container{
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-group{
display: flex;
flex-basis: 30%;
height: 100%;
align-items: center;
justify-content: center;
}

.right-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
    flex-basis: 70%;
    height: 100%;
}

.App-logo-light{
    filter: invert(100%);
}
.App-logo-dark{
    
}
