@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

h1{
  font-family: "Regular";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
}

@font-face {
  font-family: "Black";   /*Can be any text*/
  src: local("GTWalsheimPro-Black"),
    url("./font/GTWalsheimPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: "BlackOblique";   /*Can be any text*/
  src: local("GTWalsheimPro-BlackOblique"),
    url("./font/GTWalsheimPro-BlackOblique.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";   /*Can be any text*/
  src: local("GTWalsheimPro-Bold"),
    url("./font/GTWalsheimPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("GTWalsheimPro-Regular"),
    url("./font/GTWalsheimPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Thin";   /*Can be any text*/
  src: local("GTWalsheimPro-Thin"),
    url("./font/GTWalsheimPro-Thin.ttf") format("truetype");
}


@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: local("GTWalsheimPro-Medium"),
    url("./font/GTWalsheimPro-Medium.ttf") format("truetype");
}


@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("GTWalsheimPro-Light"),
    url("./font/GTWalsheimPro-Light.ttf") format("truetype");
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
